@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap");

:root {
  --screenHeight: 70vh;
  --fontFamilyMain: "Teko", sans-serif;
  --fontFamilySecondary: "Jacquard 24", system-ui;
}

.dark {
  --background: 3, 7, 18;
  --textColor: 255, 255, 255;
  --textColorBanner: rgb(216, 204, 66);
  --btnBgColor: 255, 255, 255;
  background: rgba(var(--background));
}

.light {
  --background: 255, 255, 255;
  --textColor: 0, 0, 0;
  --textColorBanner: rgb(200, 145, 7);
  --btnBgColor: 0, 0, 0;
  background: rgba(var(--background));
}

* {
  transition: transform 600ms ease-in-out;
}

.bannerimage {
  height: 50vh;
}

.aboutMe_Image {
  object-fit: contain;
  filter: grayscale();
  max-height: 90%;
  max-width: 90%;
}

.imageContainer p {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.imageContainer {
  position: relative;
  height: 50vh;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* for smooth transition in observer  */
  opacity: 0;
  transform: translateY(150px);
}

/* for smooth transition in observer  */

.about,
.form,
.navContacts {
  opacity: 0;
  transform: translateY(200px);
}

.about ul li {
  margin-left: 30px;
  position: relative;
}

.about ul li:before {
  content: "📌";
  position: absolute;
  top: 0;
  left: -30px;
}

.active {
  transform: translate(0);
  position: relative;
  z-index: 10;
  transition: 0.7s ease-in-out;
}

.previous {
  transform: translate(-100%);
  transition: 0;
}

.normal {
  transform: translate(100%);
  transition: 0;
}

.border_active {
  border-bottom: 3px solid white;
}

.border_normal {
  border-bottom: 3px solid transparent;
}

.border_normal:hover {
  border-bottom: 3px solid white;
}

/* banner for smooth transition  */

.banner h2,
.headingBanner,
.banner button,
.banner img {
  opacity: 0;
}

.skillsContainer {
  gap: 40px 20px;
  opacity: 0;
}

@media (max-width: 639px) {
  .imageContainer {
    height: 50vh;
    width: 100%;
  }

  .skillsContainer {
    gap: 30px 15px;
    opacity: 0;
  }

  .about,
  .form,
  .navContacts {
    transform: translateY(150px);
  }

  .bannerimage {
    display: none;
  }
}
